name: postgres
namespace: postgres
replicas: 1

image:
  repository: postgres
  tag: latest
  pullPolicy: Always
  args:
    - "-c,config_file=/etc/postgresql/postgresql.conf"

service:
  type: LoadBalancer

env:
  - name: POSTGRES_USER
    value: myuser
  - name: POSTGRES_PASSWORD
    value: mypassword
  - name: POSTGRES_DB
    value: mydb

runAsUser: 0

ports:
  - 5432

volumes:
  - name: data
    mountPath: "/var/lib/postgresql/data"
    hostPath: "/mnt/media_ruby/k3s/postgresql"

configMounts:
  - name: postgresql-config
    configMap: postgresql-config
    mountPath: /etc/postgresql/postgresql.conf
    subPath: postgresql.conf
    readOnly: true

configMaps:
  - name: postgresql
    path: config/postgresql.conf

ingress:
  hosts: